{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "consistent-return": "off",
    "comma-dangle": "off",
    "no-use-before-define": "off",
    "import/no-extraneous-dependencies": "off",
    "generator-star-spacing": "off"
  }
}
